# Pandas Problem Set

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

In [15]:
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'diabetes']

Read in csv above to a pandas dataframe

In [16]:
data = pd.read_csv (url, names = names)

Print out the age and class of the 100th patient

In [17]:
print (data.loc[100, 'age':'diabetes'])

age         33.0
diabetes     1.0
Name: 100, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 0

In [27]:
data_dzero = data.diabetes < 1
data_dzero = data[data_dzero]
a = data_dzero['diabetes'].count()

Write code to figure out how many people are classified as having diabetes, class is 1

In [28]:
data_done = data.diabetes > 0
data_done = data[data_done]
b = data_done['diabetes'].count()

What percent of people have diabetes in the study

In [30]:
print(str(b/(a+b)*100) + "%")

34.89583333333333%

Print out the pressure and class (no other columns) for the first 5 people (hint: this was not shown in our tutorial google how to select multiple columns with loc)

Being able to effectively google is a very important coding tool ¯\\\_(ツ)_/¯

In [36]:
print(data.loc [0:5, ['pres','diabetes']])

   pres  diabetes
0    72         1
1    66         0
2    64         1
3    66         0
4    40         1
5    74         0

Run the cell below, it will print out the correlation among the columns

In [37]:
data.corr()

              preg      plas      pres  ...      pedi       age  diabetes
preg      1.000000  0.129459  0.141282  ... -0.033523  0.544341  0.221898
plas      0.129459  1.000000  0.152590  ...  0.137337  0.263514  0.466581
pres      0.141282  0.152590  1.000000  ...  0.041265  0.239528  0.065068
skin     -0.081672  0.057328  0.207371  ...  0.183928 -0.113970  0.074752
test     -0.073535  0.331357  0.088933  ...  0.185071 -0.042163  0.130548
mass      0.017683  0.221071  0.281805  ...  0.140647  0.036242  0.292695
pedi     -0.033523  0.137337  0.041265  ...  1.000000  0.033561  0.173844
age       0.544341  0.263514  0.239528  ...  0.033561  1.000000  0.238356
diabetes  0.221898  0.466581  0.065068  ...  0.173844  0.238356  1.000000

[9 rows x 9 columns]

What column has the highest correlation with class? Find the mean() value of that column

In [38]:
print(data['plas'].mean())

120.89453125

Create a new dataframe with only people that are above the mean found above

In [39]:
above_mean = data.plas > 120.89453125
new_data = data[above_mean]

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [51]:
#averages = list(data[i].mean() for i in names[0:-1])
above_all_means = data[np.sum(data.iloc[:, :-1] > np.array(np.mean(data))[:-1], axis=1) == 8]
#above_all_means = data[(data['preg'] > averages[0]) & (data['plas'] > averages [1]) & (data['pres'] > averages[2]) & (data['skin']>averages[3]) & (data['test'] > averages[4]) & (data['mass'] > averages[5]) & (data['pedi'] > averages[6]) & (data['age'] > averages[7])]
above_all_means.count()

preg        19
plas        19
pres        19
skin        19
test        19
mass        19
pedi        19
age         19
diabetes    19
dtype: int64

Ignoring the index (resetting the index to 0), sort the values based on "skin", "test", and "pedi" values in ascending order. Please write this in one line.

In [56]:
above_all_means.sort_values (by=['skin', 'test', 'pedi'], ascending=True)

     preg  plas  pres  skin  test  mass   pedi  age  diabetes
236     7   181    84    21   192  35.9  0.586   51         1
43      9   171   110    24   240  45.4  0.721   54         1
614    11   138    74    26   144  36.1  0.557   50         1
546     5   187    76    27   207  43.6  1.034   53         1
259    11   155    76    28   150  33.3  1.353   51         1
152     9   156    86    28   155  34.3  1.189   42         1
603     7   150    78    29   126  35.2  0.692   54         1
206     8   196    76    29   280  37.5  0.605   57         1
424     8   151    78    32   210  42.9  0.516   36         1
744    13   153    88    37   140  40.6  1.174   39         0
215    12   151    70    40   271  41.8  0.742   38         1
159    17   163    72    41   114  40.9  0.817   47         1
175     8   179    72    42   130  32.7  0.719   36         1
612     7   168    88    42   321  38.2  0.787   40         1
375    12   140    82    43   325  39.2  0.528   58         1
286     5   155    84    44   545  38.7  0.619   34         0
594     6   123    72    45   230  33.6  0.733   34         0
663     9   145    80    46   130  37.9  0.637   40         1
458    10   148    84    48   237  37.6  1.001   51         1

Notice that there are some repeats in values (like in the age and the preg column).

Now Let's find the 4 largest values for "age" and "mass". Reference the pandas documentation (https://pandas.pydata.org/docs/) if you are stuck!

In [58]:
above_all_means.sort_values(by=['age','mass'], ascending=False).head(4)

     preg  plas  pres  skin  test  mass   pedi  age  diabetes
375    12   140    82    43   325  39.2  0.528   58         1
206     8   196    76    29   280  37.5  0.605   57         1
43      9   171   110    24   240  45.4  0.721   54         1
603     7   150    78    29   126  35.2  0.692   54         1

Now find the smallest 4 values for "plas" and "preg" in reverse order (largest to smallest). Please refer to the API documentation if you are stuck-- https://pandas.pydata.org/pandas-docs/stable/reference/index.html

In [60]:
data.sort_values(by=['plas','preg'], ascending=False).tail(4)

     preg  plas  pres  skin  test  mass   pedi  age  diabetes
349     5     0    80    32     0  41.0  0.346   37         1
75      1     0    48    20     0  24.7  0.140   22         0
182     1     0    74    20    23  27.7  0.299   21         0
342     1     0    68    35     0  32.0  0.389   22         0